/*MAPAS*/
$mapaRedesColors: ( 1: white,2: #2BB741,3: #5865F2, 4: #0A66C2); 
/* VARIABLES */
/* Colores */
$--color-primario-header: #0E0A19;
$--color-secundario-header: #4121A0;
$--color-terciario-header: #7142F0;

// $--color-secundario-header: rgba(247, 242, 0);
$--foreground-bar-transparent: rgba(247, 242, 0, 0.8);
$--background-header: white;
$--hover-blue: #0A66C2;

/* Estructuras */
$--total-width: 100%;
$--header-horizontal-padding: 3vw;
$--zero-value: 0;

$--transision-hover-time: 200ms;
// $--bar-width-mob: 5vh;
$--bar-width-mob: 2.5em;
$--bar-height-mob: 100%;
$--hamburguer-gap-mob: 6px;

$--animation-timing: 200ms ease-in-out;
$--border-bott-mob: 0.5vh;

$--min-height-mob: 10vh;

/* MIXINS & PLACEHOLDERS*/

@mixin smooth-buttons($color){
    font-family: 'Tilt Warp', sans-serif;           
    border: none;
    background-color: transparent;
    transition-duration: $--transision-hover-time;
    &:hover, &:focus {
        border-color: $color;
        color: $color;
    }
}
@mixin smooth-social-links(){
    @for $i from 1 to 5 {
        button:nth-child(#{$i}):hover, button:nth-child(#{$i}):focus{      
            color: map-get($mapaRedesColors, $i);
        }
    }
}
//Placeholders para prevenir el repetir displays y demas.
%displayFlex{
    display: flex;
}
%flexColumnNowrap {
    display: flex;
    flex-flow: column nowrap;
}
%flexRowNowrap{
    display: flex;
    flex-flow: row nowrap;
}
%flexColumnWrap {
    display: flex;
    flex-flow: column wrap;
}
%flexRowWrap{
    display: flex;
    flex-flow: row wrap;
}
%centeredContent{
    justify-content: center;
    align-items: center;
}

@mixin flexColumnNowrap{
    flex-flow: column nowrap;
}

.swal2-title {
    color: red;
}

/* ESTRUCTURAS */
header{
    position: sticky;
    top: 0;
    @extend %flexRowNowrap;
    align-items: center;
    justify-content: center;
    width: $--total-width;
    z-index: 9;
    min-height: 65px;
    max-height: 90px;
    div{
        @extend %flexRowNowrap;
        justify-content: space-between;
        align-items: center;
        width: $--total-width;
        height: 75%;
        max-width: 1300px;
        .hamburger-menu{
            @extend %flexColumnNowrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        } 
        .sidebar{
            @extend %displayFlex, %centeredContent;
            position: absolute;
            nav{
                @extend %flexColumnNowrap;
                align-items: center;
                & > button {
                    width: 100%; 
                    @extend %flexRowNowrap;
                    justify-content: center;
                    align-items: center;
                }
                div{
                    @extend %flexRowNowrap;
                    justify-content: space-evenly;
                }
            }
        }
        & > nav {
            @extend %flexRowNowrap;
            div {
                @extend %flexRowNowrap;
            }
        }
    }
}

/* ESTILOS */
header{
    background-color: $--color-primario-header;
    border: {
        bottom: 1px solid $--color-secundario-header;
    }
    padding: {
        right: $--header-horizontal-padding;
        left: $--header-horizontal-padding;
    }
    img{
        height: 100%;
        border-radius: 50%;
    }
    label{
        ion-icon {
            color: $--color-secundario-header;
        }
    }
    .sidebar{
        @include flexColumnNowrap();
        transition: $--transision-hover-time;
        transition: translate $--animation-timing;   
        background-color: $--color-primario-header;
        z-index: 2;
        nav{
            button{
                @include smooth-buttons($--color-terciario-header);
                color: $--color-secundario-header;
            }
            div{
                button{
                    transition-duration: $--transision-hover-time; 
                }
                @include smooth-social-links();
            }
        }
    }
    nav {
        button{
            @include smooth-buttons($--color-terciario-header);
            color: $--color-secundario-header;
            @extend %displayFlex,%centeredContent;
            cursor: pointer;
        }
        div{
            @include smooth-social-links();      
            cursor: pointer;     
        }
    }
}

/* MEDIAS */

/* Header bar responsive until arrive PC */

@media screen and (max-width: 1024px){
    /* ESTRUCTURA */
    header {
        height: $--min-height-mob;
        min-height: 60px;
        max-height: 100px;
        .hamburger-menu{
            height: $--bar-height-mob;
            width: $--bar-width-mob;
        }
    }

    /* ESTILO */ 
    header {
        .hamburger-menu {
            ion-icon{
                font-size: $--bar-width-mob;
            }
        }
    }
}

/* Smurf phones */
@media screen and (max-width: 206px){
    header{
        .sidebar{
            nav{
                & > button {
                    font-size: $--bar-width-mob - 1.5 !important; //Quitar important
                }
                div {
                    button {
                        font-size: $--bar-width-mob - 1 !important; //Quitar important
                    }
                }
            }
        }
    }
}

/* Any mobile device */
@media screen and (max-width: 600px){ //Deberia set 600px
    header{
        /* ESTRUCTURA */
        .sidebar{
            top: $--min-height-mob;
            right: 100vw;
            width: 100vw;
            height: 90vh;
            min-height: 292px;
            nav{
                width: 75%;
                & > button{
                    padding: 0;
                    margin: {
                        bottom: $--bar-width-mob - 2;
                    }
                    // width: 100%;  
                    &:hover, &:focus {
                        margin: {
                            bottom: $--bar-width-mob - 1.5;
                        };
                    }       
                }
                div {
                    width: 100%;
                    max-width: 207px;
                }
            }
        }

        /* ESTILOS */
        .sidebar{
            nav{
                & > button{
                    font-size: $--bar-width-mob - 0.5;
                    border-bottom: $--border-bott-mob solid transparent;
                    &:hover, &:focus {
                        font-size: $--bar-width-mob - 0.7;
                    }
                }
                div {
                    button{
                        font-size: $--bar-width-mob;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:600px) and (max-width: 992px){
    /* ESTRUCTURA */
    header {
        .sidebar{
            height: 35vh;
            // top: 65vh;
            min-height: 292px;
            top: 100vh;
            left: 0;
            right: 0;
            nav{
                height: 80%;
                width: 40vw;
                max-width: 50vw;
                & > button {
                    border-bottom: $--border-bott-mob - 0.1 solid transparent;  
                    margin: {
                        bottom: 0.5em;
                    } 
                }
                div {
                    width: 100%;
                    max-width: 20vh;
                    height: 10%;
                    button{
                        font-size: $--bar-width-mob;  
                        display: flex;
                        align-items: center;  
                    }
                }
            }
        }
    }
    /* ESTILOS */
    header {
        .sidebar{
            nav{
                justify-content: space-evenly;
                & > button {
                    font-size: $--bar-width-mob - 0.5;
                    &:hover, &:focus {
                        font-size: $--bar-width-mob - 0.7;
                    }     
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    header{
        height: $--min-height-mob + 2;
        nav{
            & > button{
                font-size: 2em - .5;
                border-bottom: $--border-bott-mob - 0.1 solid transparent;   
                margin: {
                    right: 2vw;
                }
            }
            div {
                button{
                    @include smooth-social-links();
                    font-size: 2em;
                    margin: { 
                        right: 1vw;
                    }
                }
            }
        }
    }
}