/* VARIABLES */
$--total-width: 100%;
$--header-horizontal-padding: 3vw;

$--bar-width-mob: 5vh;
$--bar-height-mob: 100%;
$--hamburguer-gap-mob: 6px;
$--foreground-bar: #F7F200;
$--animation-timing: 200ms ease-in-out;

$--min-height-mob: 10vh;
$--background-header: white;

/* ESTRUCTURAS */
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: $--total-width;
    .hamburger-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & input {
            padding: 0;
            margin: 0;    
        }
    } 
    .sidebar{
        position: absolute;
        top: $--min-height-mob;
        right: 100vw;
        width: 100vw;
        height: 90vh;
    }
}

/* ESTILOS */
header{
    background-color: $--background-header;
    padding: {
        right: $--header-horizontal-padding;
        left: $--header-horizontal-padding;
    }
    img{
        height: 8vh;
    }
    .hamburger-menu{
        &::before, &::after, & input {
            background-color: $--foreground-bar;
            transform-origin: left center;
        }
        &:has(input:checked){
            & + .sidebar{
                transition: 200ms;
                right: 0;
            }
        }
        & input {
            appearance: none;
            outline: none;
            pointer-events: none;
        }
    } 
    .sidebar{
        transition: 200ms;
        transition: translate $--animation-timing;   
        background-color: grey;
    }
}

/* MEDIAS */
@media only screen and (max-width: 430px){
    header{
        height: $--min-height-mob;
        .hamburger-menu{
            height: $--bar-height-mob;
            width: $--bar-width-mob;
            ion-icon{
                font-size: 5vh;
            }
        }
    }
}