/*MAPAS*/
$mapaRedesColors: (
  1: white,
  2: #2bb741,
  3: #5865f2,
  4: #0a66c2,
);
/* VARIABLES */
/* Colores */
$--color-primario-header: #0e0a19;
$--color-secundario-header: #4121a0;
$--color-terciario-header: #7142f0;

// $--color-secundario-header: rgba(247, 242, 0);
$--foreground-bar-transparent: rgba(247, 242, 0, 0.8);
$--background-header: white;
$--hover-blue: #0a66c2;

$--header-height: 70px;

//Placeholders para prevenir el repetir displays y demas.
%displayFlex {
  display: flex;
}
%flexColumnNowrap {
  display: flex;
  flex-flow: column nowrap;
}
%flexRowNowrap {
  display: flex;
  flex-flow: row nowrap;
}
%flexColumnWrap {
  display: flex;
  flex-flow: column wrap;
}
%flexRowWrap {
  display: flex;
  flex-flow: row wrap;
}
%centeredContent {
  justify-content: center;
  align-items: center;
}

@mixin flexColumnNowrap {
  flex-flow: column nowrap;
}

.swal2-title {
  color: red;
}

/* MIXINS */
@mixin smooth-social-links() {
  @for $i from 1 to 5 {
    button:nth-child(#{$i}):hover,
    button:nth-child(#{$i}):focus {
      color: map-get($mapaRedesColors, $i);
    }
  }
}

@keyframes colorTic {
  from {
    color: $--background-header;
  }
  50% {
    color: $--color-primario-header;
  }
  to {
    color: $--background-header;
  }
}

//------------------------------------------ESTRUCTURA----------------------------------------------//
header {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 2%;
  z-index: 100;
  max-height: $--header-height + 70;
  min-height: $--header-height;
  height: 8%;
  & > #navPc {
    @extend %flexRowNowrap, %centeredContent;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    & > #navBarPc {
      @extend %flexRowNowrap;
      & > div {
      }
    }
    img {
      height: 90%;
    }
  }
  #bg-hambmenu {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 15, 77, 0.5);
    bottom: -2vh;
    // right: 0;
    right: 0;
    z-index: 80;
  }
  #hamburguer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 101;
  }
  #navMob {
    position: fixed;
    display: flex;
    z-index: 100;
    button {
      z-index: 101;
    }
    div {
      display: flex;
      button {
        z-index: 101;
      }
    }
  }
}
//------------------------------------------ESTILOS----------------------------------------------//

.btn-active {
    background-color: $--color-terciario-header !important;
    opacity: 1;
    ion-icon {
      color: $--color-secundario-header !important;
    }
}
header {
  // background-color: $--color-secundario-header;
  & > button {
    border-radius: 100%;
    border: 1px solid $--color-terciario-header;
    background-color: $--color-secundario-header;
    font-size: 2.5em;
    transition-duration: 0.3s;
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }
    ion-icon {
      color: $--background-header;
    }
  }
  #navMob {
    background: rgba(113, 66, 240, 0.99);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(113, 66, 240, 0.1)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    button {
      background-color: transparent;
      color: $--background-header;
      z-index: 110;
      &:active,
      &:focus {
        color: $--color-primario-header;
      }
    }
    .socialMedia {
      @include smooth-social-links();
      button {
        display: flex;
        align-items: center;
        border: 0;
      }
    }
  }
  & > #navPc {
    #navBarPc {
      @extend %flexRowNowrap;
      width: 100%;
      max-width: 70%;
      height: 90%;
      & > div {
        @extend %displayFlex;
        @include smooth-social-links();
        font-size: 1.8em;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        & > button {
          position: relative;
          top: 5%;
          border: 0;
          background-color: transparent;
          color: $--background-header;
          transition-duration: 0.5s;
        }
      }
      & > button {
        ion-icon {
          position: relative;
          top: 4%;
        }
        margin: {
          right: 2%;
        }
        background-color: transparent;
        color: $--background-header;
        z-index: 110;
        transition-duration: 0.5s;
        border: 0;
        font-size: 1.8em;
        &:hover {
          color: $--color-primario-header;
        }
      }
    }
  }
}

//------------------------------------------MEDIAS------------------------------------------------//
@media screen and (max-width: 1600px) {
  header {
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  /* ESTRUCTURA */
  header {
    width: auto;
    justify-content: end;
    align-items: center;
    padding: {
      right: 2%;
      left: 2%;
    }
    #navMob {
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      bottom: 2%;
      left: 0%;
      // left: -200px;
      max-width: 200px;
      width: 70%;
      height: 30%;
      min-height: 300px;
      max-height: 500px;
      & > button {
        position: relative;
        height: 20%;
        width: 100%;
        &::before {
          position: absolute;
          display: block;
          content: "";
          z-index: 111;
          border: 1px solid $--color-primario-header;
          height: 1%;
          width: 90%;
          bottom: 10%;
          opacity: 0;
          transition-duration: 0.5s;
        }
        &:active,
        &:focus {
          &::before {
            opacity: 1;
          }
        }
      }
      div {
        flex-flow: row nowrap;
        width: 90%;
        justify-content: space-evenly;
      }
    }
  }
  /* ESTILO */
  header {
    #navMob {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      & > button {
        font-size: 1.6em;
        text-align: start;
        padding: {
          left: 0.5em;
        }
        border: 0;
        ion-icon {
          position: relative;
          top: 5%;
        }
      }
      .socialMedia {
        button {
          ion-icon {
            font-size: 1.8em;
          }
        }
      }
    }
  }
}



@media screen and (min-width: 601px) and (max-width: 1200px) {
  /* ESTRUCTURA */
  header {
    width: auto;
    justify-content: end;
    align-items: center;
    padding: {
      right: 2%;
      left: 2%;
    }
    #navMob {
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
      // left: -200px;
      max-width: 300px;
      width: 70%;
      // height: 35%;
      height: 27%;
      min-height: 300px;
      max-height: 400px;
      & > button {
        font-weight: bold;
        position: relative;
        height: 20%;
        width: 100%;
        &::before {
          position: absolute;
          display: block;
          content: "";
          z-index: 111;
          border: 1px solid $--color-primario-header;
          height: 1%;
          width: 90%;
          bottom: 10%;
          opacity: 0;
          transition-duration: 0.5s;
        }
        &:active,
        &:focus {
          &::before {
            opacity: 1;
          }
        }
      }
      div {
        flex-flow: row nowrap;
        width: 90%;
        justify-content: space-evenly;
      }
    }
  }
  /* ESTILO */
  header {
    #navMob {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      & > button {
        // animation: colorTic 3s ease-in-out;
        // animation-iteration-count: infinite;
        font-size: 1.5em;
        text-align: start;
        padding: {
          left: 0.5em;
        }
        border: 0;
        ion-icon {
          position: relative;
          top: 5%;
        }
      }
      .socialMedia {
        button {
          ion-icon {
            font-size: 1.8em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  header {
    justify-content: center;
    align-items: center;
    background: rgba(113, 66, 240, 0.99);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(113, 66, 240, 0.5)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    top: 0;
    min-height: 100px;
    padding: {
      right: 2%;
      left: 2%;
    }
    #navPc {
      height: 100%;
      justify-content: space-between;
    }
  }
}
