<main>
    <article id="firstContainer">
        <div id="frontEndProfile">
            <h1>{{firstContainerTxt[0]}}</h1>
            <img src="assets/images/programming.png" alt="This is me">
            <!-- <span>El diseño, responsive y funcionalidad son mi prioridad! </span> -->
        </div>
        <div class="contentOneText colorAzul">
            <h2>{{firstContainerTxt[1]}}</h2>
            <p>
                {{firstContainerTxt[2]}}
            </p>
            <h2>{{firstContainerTxt[3]}}</h2>
            <p>
                {{firstContainerTxt[4]}}
            </p>
        </div> 
    </article>
    <article id="secondContainer">
        <h2>{{secondContainerTxt}}</h2>
        <div>
            <div class="knowledges" *ngFor="let knows of conocimientos; let i = index">
                <h2>{{knows.nombre}}</h2>
                <img [src]="knows.src" [alt]="knows.nombre">
            </div>
        </div>
    </article>
    <article id="thirdContainer">
        <h2 id="projectsIndex">{{thirdContTxt}}</h2>
        <div>
            <div class="projects" *ngFor="let project of projects;">
                <img [src]="project.src" [alt]="project.titulo">
                <div class="descriptionPart">
                    <h3>{{project.titulo}}</h3>
                    <p>{{project.description}}</p>
                    <div class="technologyTags">
                        <span *ngFor="let tech of project.technologies;">
                            {{tech}}
                        </span>
                    </div>
                    <button (click)="openModalProjects(project)">{{prevText}}</button>
                </div>
            </div>
        </div>
    </article>
    <article id="fourthContainer">
        <div>
            
        </div>
    </article>
    <article id="fifthContainer">
        <h2>{{fifthContH2}}</h2>
        <div id="formBackground">
            <p id="contactScroll">{{fifthContTxt[0]}}</p>
            <p>{{fifthContTxt[1]}}</p>
            <form id="formPortfolio" action="https://formspree.io/f/xyyqaadd" method="POST">
                <div id="formText">
                    <div>
                        <label for="username">{{fifthContTxt[2]}}</label>
                        <input type="text" name="username" id="username" placeholder="Roy Hernandez" required>
                    </div>
                    <div>                
                        <label for="usermail">{{fifthContTxt[3]}}</label>
                        <input type="email" name="usermail" id="usermail" placeholder="{{fifthContTxt[4]}}" required>
                    </div>
                </div>
                <textarea name="message" minlength="70" required placeholder="{{fifthContTxt[5]}}"></textarea>
                <div id="recaptchaSec" class="g-recaptcha"></div>
                <button type="submit">{{formSendText}}<ion-icon name="return-up-forward-outline"></ion-icon></button>
            </form>
        </div>
    </article>
</main>
