/* VARIABLES */

//CAMBIAR H1 POR H2 EN EL CONTENIDO

$--color-primario-main: #0e0a19;
$--color-secundario-main: #4121a0;
$--color-terciario-main: #7142f0;
$--color-cuaternario-main: white;

$--color-cuaterciario-main: linear-gradient(
  95deg,
  rgba(254, 254, 254, 1) 5%,
  rgba(113, 66, 240, 1) 94%
);
/* ESTRUCTURAS FOR EACH */

/* PLACEHOLDERS */
%displayFlex {
  display: flex;
}
%flexColumnNowrap {
  display: flex;
  flex-flow: column nowrap;
}
%flexRowNowrap {
  display: flex;
  flex-flow: row nowrap;
}
%flexColumnWrap {
  display: flex;
  flex-flow: column wrap;
}
%flexRowWrap {
  display: flex;
  flex-flow: row wrap;
}
%centeredContent {
  justify-content: center;
  align-items: center;
}
%alignItemsCenter {
  align-items: center;
}
%justifyContCenter {
  justify-content: center;
}

%justifyContSpaceEven{
  justify-content: space-evenly;
}

/* MIXINS */
@mixin displayflexColumnNowrap {
  display: flex;
  flex-flow: column nowrap;
}
@mixin displayflexColumnWrap {
  display: flex;
  flex-flow: column wrap;
}
@mixin displayflexRowNowrap {
  display: flex;
  flex-flow: row nowrap;
}
@mixin displayflexRowWrap {
  display: flex;
  flex-flow: row wrap;
}

@mixin fadeIn($time) {
  //Minimo deberia ser 1 segundo
  opacity: 1;
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: $time;
}
/* Keyframes (Animaciones) */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ESTRUCTURAS EN GENERAL PARA TODAS LAS VISTAS -------------------------------------------------------------------*/
/* ESTRUCTURA */
main {
  @extend %flexColumnNowrap, %centeredContent;
  #secondContainer,
  #thirdContainer,
  #fifthContainer {
    @extend %flexColumnNowrap, %alignItemsCenter;
  }
  /*  TODOS LOS CONTENEDORES  */
  article {
    width: 100%;
    max-width: 1300px;
  }
  /*  CONTENEDOR 1 */
  #firstContainer {
    @extend %displayFlex;
    margin: {
      top: 2%;
    }
    #frontEndProfile,
    .contentOneText {
      @extend %flexColumnNowrap, %alignItemsCenter;
      overflow-x: hidden;
    }
    #frontEndProfile{
      span{
        padding: {
          top: 0.5%;
          bottom: 0.5%;
          left: 1%;
          right: 1%;
        }
      }
    }
  }
  /*  CONTENEDOR 2 */
  #secondContainer {
    & > div {
      @extend %flexRowWrap, %justifyContCenter;
      min-width: 80%;
      .knowledges {
        @extend %flexColumnNowrap, %centeredContent, %justifyContSpaceEven;
        margin: 2%;
        width: 40%;
        min-height: 100px;
        max-width: 120px;
        max-height: 125px;
        padding: {
          bottom: 1%;
          top: 1%;
        }
        img {
          width: 50%;
          max-height: 59px; //Verificar luego.
        }
      }
    }
  }
  /*  CONTENEDOR 3 */
  #thirdContainer {
    & > div {
      @extend %flexRowWrap, %justifyContCenter;
      .projects {
        @extend %flexColumnNowrap, %justifyContCenter;
        max-width: 300px;
        img {
          margin: {
            bottom: 3%;
          }
        }
        .descriptionPart {
          @extend %flexColumnNowrap, %alignItemsCenter;
          width: 100%;
          h3{
            font-weight: bold;
          }
          .technologyTags {
            @extend %flexRowWrap, %alignItemsCenter;
            width: 100%;
            padding: {
              left: 0.3em;
              right: 0.3em;
            }
            span {
              padding: {
                bottom: 0.1em;
                right: 0.5em;
                left: 0.5em;
              }
              margin: {
                right: 2%;
                bottom: 0.3em;
              }
            }
          }
          button {
            min-width: 80%;
            min-height: 50px;
            margin: {
              bottom: 2%;
              top: 2%;
            }
          }
        }
      }
    }
  }
  /* QUINTO CONTENEDOR */
  #fifthContainer {
    width: 100%;
    padding: {
      bottom: 4em;
    }
    @extend %flexColumnNowrap, %alignItemsCenter;
    #formBackground {
      @extend %flexColumnNowrap, %alignItemsCenter;
      width: 100%;
      & > p:nth-child(2) {
        text-align: center;
      }
      form {
        button {
          margin: 1em;
          @extend %flexRowWrap, %centeredContent;
          ion-icon{
            margin: {
              left: 1%;
            }
          }
        }
        @extend %flexColumnNowrap, %alignItemsCenter;
        #formText {
          @extend %displayFlex;
          div {
            @extend %flexColumnNowrap;
          }
        }
        textarea {
          padding: 1%;
          height: 10em;
        }
      }
    }
  }
}

/* ------------------------------------------- ESTILO ----------------------------------------------------------*/
main {
  font-family: "Kanit", sans-serif;
  /* Contenedor 1 */
  #firstContainer {
    #frontEndProfile{
      position: relative;
      span{
        position: absolute;
      }
      img {
        // border: .5em solid $--color-terciario-main;
        // border-radius: 1em;
      }
    }
    .colorAzul {
      @include fadeIn(1.2s);
      background-color: transparent;
      // border-radius: 10px;
      // border: 0.5em solid $--color-terciario-main;
      p{
        color: $--color-cuaternario-main;
        // text-align: justify;
        // text-justify: distribute;
      }
      h2{
        color: $--color-terciario-main;    
        // -webkit-text-stroke-width: 1px; 
        // -webkit-text-stroke-color: $--color-terciario-main; 
      }
    }
    div:nth-child(1) {
      @include fadeIn(0.7s);
      h1 {
        background-image: $--color-cuaterciario-main;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }
  }
  /* Contenedor 2 */
  #secondContainer {
    & > h2 {
      color: $--color-cuaternario-main;
    }
    & > div {
      .knowledges {
        position: relative;
        background-color: $--color-secundario-main;
        color: $--color-cuaternario-main;
        box-shadow: 5px 5px 15px 2px $--color-terciario-main;
        // border: 1px solid $--color-secundario-main;
        border: 1px solid $--color-cuaternario-main;
        border-radius: 15px;
        cursor: pointer;
        h2 {
          font-size: 1em;
          color: $--color-cuaternario-main;
        }
      }
    }
  }

  $--time-fade-projects: 0.5s;
  @for $i from 1 through 12 {
    .knowledgesActive-#{$i} {
      @include fadeIn($--time-fade-projects);
      $--time-fade-projects: $--time-fade-projects + 0.1;
    }
  }
  /* Contenedor 3 */
  #thirdContainer {
    h2 {
      color: $--color-cuaternario-main;
    }
    & > div {
      .projects {
        background-color: $--color-primario-main;
        overflow: hidden;
        border-radius: 25px;
        border: 5px solid $--color-terciario-main;
        img {
          object-fit: cover;
          border: {
            bottom: 5px solid $--color-terciario-main;
          }
        }
        .descriptionPart {
          .technologyTags {
            span {
              background-color: $--color-terciario-main;
              color: $--color-cuaternario-main;
              border-radius: 12px;
              text-align: center;
              max-height: 25px;
            }
          }
          button {
            background-color: $--color-secundario-main;
            color: $--color-cuaternario-main;
            text-shadow: 2px 0 $--color-terciario-main,
              -2px 0 $--color-terciario-main, 0 2px $--color-terciario-main,
              0 -2px $--color-terciario-main, 1px 1px $--color-terciario-main,
              -1px -1px $--color-terciario-main,
              1px -1px $--color-terciario-main, -1px 1px $--color-terciario-main;
            font-family: "Kanit", sans-serif;
            border: 5px solid $--color-terciario-main;
            border-radius: 25px;
            transition-duration: 0.2s;
            cursor: pointer;
            &:hover,
            &:focus {
              background-color: $--color-primario-main;
              color: $--color-secundario-main;
              border: 5px solid $--color-secundario-main;
            }
          }
          h3,
          p {
            color: $--color-cuaternario-main;
          }
        }
      }
    }
  }
  $--time-fade-projects: 0.5s;
  @for $i from 1 through 7 {
    .projectsActive-#{$i} {
      @include fadeIn($--time-fade-projects);
      $--time-fade-projects: $--time-fade-projects + 0.1;
    }
  }
  /* Contenedor 5 */
  #fifthContainer {
    & > h2 {
      color: $--color-cuaternario-main;
    }
    #formBackground {
      & > p:nth-child(1) {
        color: $--color-cuaternario-main;
      }
      & > p:nth-child(2) {
        color: $--color-terciario-main;
      }
      form {
        @extend %flexColumnNowrap, %alignItemsCenter;
        border-radius: 25px;
        border: 5px solid $--color-secundario-main;
        padding: {
          top: 3em;
          bottom: 3em;
        }
        #formText {
          & > div {
            input,
            label {
              &:focus::-webkit-input-placeholder {
                transition: opacity 0.5s ease !important;
                opacity: 0;
              }
              &:not(:focus)::-webkit-input-placeholder {
                transition: opacity 0.5s ease !important;
                opacity: 1;
              }
            }
            label {
              color: $--color-cuaternario-main;
              font-family: "Kanit", sans-serif;
            }
            input {
              background-color: transparent;
              outline: none;
              color: $--color-cuaternario-main;
              font-family: "Kanit", sans-serif;
              transition-duration: 0.5s;
              border: {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0.2em solid $--color-secundario-main;
              }
              &:focus {
                border: {
                  bottom: 0.2em solid $--color-terciario-main;
                }
              }
              &:-webkit-autofill,
              &:-webkit-autofill:hover, 
              &:-webkit-autofill:focus, 
              &:-webkit-autofill:active{
                  -webkit-box-shadow: 0 0 0 30px $--color-primario-main inset !important;
                  -webkit-text-fill-color: $--color-cuaternario-main;
              }
            }
          }
        }
        button {
          cursor: pointer;
          position: relative;
          border: {
            top: 0;
            bottom: 2px solid;
            right: 0;
            left: 0;
          }
          border-color: $--color-secundario-main;
          background-color: transparent;
          color: $--color-cuaternario-main;
          z-index: 1;
          &::before {
            position: absolute;
            content: "";
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            transition: transform 300ms ease-in-out;
            transform: scaleX(0);
            background-color: $--color-secundario-main;
            transform-origin: left;
            border-top-right-radius: 10px;
          }
          &:hover::before,
          &:focus::before {
            transform: scaleX(1);
          }
          &:hover{
            color: $--color-primario-main;
          }
        }
        textarea {

          resize: none;
          background-color: transparent;
          transition-duration: 0.5s;
          outline: none;
          color: $--color-cuaternario-main;
          border: 1px solid $--color-secundario-main;
          font-family: "Kanit", sans-serif;
          &:focus::-webkit-input-placeholder {
            transition: opacity 0.5s ease !important;
            opacity: 0;
          }
          &:not(:focus)::-webkit-input-placeholder {
            transition: opacity 0.5s ease !important;
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Smurf phones ----------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 206px) {
  /* ESTILO */
  main {
    article {
      h1,
      h2,
      h3 {
        font-size: 1em !important;
      }
      p {
        font-size: 0.7em !important;
      }
    }
  }
}

/* Normal phones ----------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  /* ESTRUCTURA */
  main {
    #secondContainer,
    #thirdContainer,
    #fifthContainer {
      padding: {
        top: 15%;
      }
      & > h2 {
        margin: {
          top: 10%;
          bottom: 10%;
        }
      }
    }
    #firstContainer {
      #frontEndProfile{
        span{
          left: 45%;
          bottom: 13%;
        }
      }  
      h1 {
        margin: {
          top: 5%;
          bottom: 3%;
        }
      }
      img {
        max-height: 200px;
        max-width: 200px;
        object-fit: cover;
        margin: {
          bottom: 3vh;
        }
      }
      .contentOneText {
        h2 {
          margin: {
            top: 5%;
            bottom: 3%;
          }
        }
      }
    }
    #secondContainer {
      & > h2 {
        margin: {
          top: 10%;
          bottom: 10%;
        }
      }
    }
    #thirdContainer {
      align-items: center;
      & > div {
        width: 100%;
        .projects {
          h3 {
            padding: {
              right: 0.4em !important;
              left: 0.4em !important;
            }
            margin: {
              bottom: 2% !important;
            }
          }
          width: 100%;
          height: 419.27px;  
          margin: {
            bottom: 0.5em;
          }
          img {
            width: 100%;
            max-height: 145px;
          }
          .descriptionPart {
            p {
              min-height: 95px;
            }
            .technologyTags {
              display: flex;
              flex-flow: wrap row;

              min-height: 58px;
            }
            p {
              max-height: 95px;
            }
          }
        }
      }
    }
    article {
      flex-flow: column nowrap;
      &:nth-child(2) {
        & > div {
          width: 90%;
          padding: {
            left: 2%;
            right: 2%;
          }
        }
      }
      h1,
      p {
        padding: {
          left: 0.5em;
          right: 0.5em;
        }
      }
      div:nth-child(1) {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      .contentOneText {
        flex-flow: column nowrap;
        align-items: center;
        padding: {
          bottom: 5vh;
        }
      }
    }
    /* Contenedor 5 */
    #fifthContainer {
      #formBackground {
        width: 100%;
        & > p:nth-child(1) {

        }
        & > p:nth-child(2) {
          margin: {
            bottom: 5%;
            top: 3%;
          }
        }
        form {
          width: 100%;
          max-width: 500px;
          button {
            padding: 5px;
            width: 90%;
            max-width: 245px;
          }
          #formText {
            margin: {
              bottom: 0.3em;
            }
            width: 90%;
            & > div {
              width: 100%;
              margin: {
                bottom: 1em;
              }
              input,
              label {
                width: 100%;
              }
              label {
                margin: {
                  bottom: 0.3em;
                  top: 0.7em;
                }
              }
            }
          }
          textarea {
            width: 90%;
          }
        }
      }
    }
  }

  /* ESTILO */
  main {
    article {
      div:nth-child(1),
      div:nth-child(2) {
        p {
          font-size: 1.3em !important;
        }
      }
    }
    #firstContainer{
      #frontEndProfile{
        span{ 
          border-radius: 15px;
          background-color:  $--color-cuaternario-main;
          color: $--color-terciario-main;
        }
      }
    }
    #thirdContainer {
      & > div {
        .projects {
          h3 {
            font-size: 1em !important;
          }
          p {
            font-size: 0.8em !important;
          }
          .descriptionPart {
            .technologyTags {
              span {
                font-size: 0.9em !important;
              }
            }
            button {
              font-weight: bold;
              font-size: 1.2em !important;
            }
          }
        }
      }
    }
    /* Contenedor 5 */
    #fifthContainer {
      #formBackground {
        & > p:nth-child(1) {
          color: $--color-cuaternario-main;
        }
        & > p:nth-child(2) {
          color: $--color-terciario-main;
          font-size: 1.7em !important;
        }
        form {
          @include displayflexColumnNowrap();
          #formText {
            @include displayflexColumnNowrap();
            label {
              display: flex;
            }
            label,
            input {
              font-size: 1.1em !important;
            }
          }
          button {
            font-size: 1.1em !important;
          }
          textarea {
            font-size: 1.1em !important;
          }
        }
      }
    }
  }
}

/*Tablets - Laptops  -------------------------------------------------------------------------------------------  */
@media screen and (min-width: 600px) and (max-width: 992px) {
  /* ESTRUCTURA */
  main {
    #firstContainer,
    #secondContainer,
    #thirdContainer,
    #fifthContainer {
      & > h1 {
        margin: {
          top: 10%;
          bottom: 10%;
        }
      }
      & > h2 {
        margin: {
          top: 5%;
          bottom: 5%;
        }
      }
    }
    #secondContainer,
    #thirdContainer,
    #fifthContainer {
      padding: {
        top: 10vh;
      }
    }
    #firstContainer {
      flex-flow: row nowrap;
      .contentOneText {
        h2 {
          margin: {
          }
        }
      }
    }
    #secondContainer,
    #thirdContainer {
      flex-flow: column nowrap;
    }
    #thirdContainer {
      align-items: center;
      & > div {
        .projects {    
          img {
            max-height: 150px;
          }
          margin: {
            right: 13px;
            bottom: 13px;
          }
          .descriptionPart {
            h3 {
              font-size: large !important;
            } 
            p {
              min-height: 144px;
              padding: {
                left: 0.3em;
                right: 0.3em;
              }
            }
          }
        }
      }
    }
    #firstContainer {
      div:nth-child(1) {
        width: 40vw;
        max-height: 550px;
        h1 {
          padding: {
            left: 0.5vw;
            right: 0.5vw;
          }
          margin: {
            top: 10%;
            bottom: 10%;
          }
        }
        img {
          max-width: 75%;
          max-height: 50%;
          min-width: 250px;
          min-height: 300px;
          object-fit: cover;
        }
      }
      div:nth-child(2) {
        width: 59.8vw;
        align-items: center;
        padding: {
          right: 2vw;
          left: 2vw;
          top: 3vw;
          bottom: 3vw;
        }
      }
    }
    /* Contenedor 5 */
    #fifthContainer {
      h2 {
        font-size: 2.2em;
      }
      #formBackground {
        width: 100%;
        & > p:nth-child(1) {
          color: $--color-cuaternario-main;
          padding: {
            left: 5%;
            right: 5%;
          }
          font-size: 1.2em;
        }
        & > p:nth-child(2) {
          color: $--color-terciario-main;
          margin: {
            bottom: 3%;
            top: 3%;
          }
          font-size: 1.8em;
        }
        form {
          width: 100%;
          max-width: 500px;
          button {
            padding: 5px;
            width: 90%;
            max-width: 245px;
          }
          #formText {
            justify-content: space-between;
            margin: {
              bottom: 0.3em;
            }
            width: 90%;
            & > div {
              width: 48%;
              margin: {
                bottom: 1em;
              }
              input,
              label {
                font-size: 1.1em;
              }
              label {
                margin: {
                  bottom: 0.3em;
                  top: 0.7em;
                }
              }
            }
          }
          textarea {
            width: 90%;
          }
        }
      }
    }
  }

  /* ESTILOS */
  main {
    #firstContainer {
      #frontEndProfile{
        h1{
          font-size: 2.5em !important;
        }
      }
      .contentOneText {
        h1 {
          margin: {
            top: 5%;
            bottom: 5%;
          }
        }
        p {
          font-size: 1.3em !important;
        }
      }
    }
    #thirdContainer {
      h1 {
        font-size: 1.5em !important;
      }
      & > div {
        .projects {
          .descriptionPart {
            .technologyTags {
              min-height: 48px;
              span {
                font-size: 0.8em !important;
              }
            }
          }
        }
      }
    }
    #secondContainer,
    #thirdContainer {
      & > h2 {
        font-size: 2.2em !important;
      }
    }
  }
}

/* PC, other devices */
@media screen and (min-width: 992px) {
  /* ESTRUCTURA */
  main {
    #firstContainer,
    #secondContainer,
    #thirdContainer,
    #fifthContainer {
      scroll-snap-align: center;
    }
    #secondContainer,
    #thirdContainer,
    #fifthContainer {
      padding: {
        top: 7%;
      }
      & > h2 {
        margin: {
          top: 5%;
          bottom: 5%;
        }
      }
    }
    #firstContainer {
      #frontEndProfile {
       & > h1 {
          font-size: 2.2em !important;
          margin: {
            top: -10%;
            bottom: 3%;
          }
        }
      }
      #contentOneText {
        & > h2 {
          font-size: 2.2em !important;
        }
      }
    }
    #firstContainer {
      div:nth-child(1),
      div:nth-child(2) {
        padding: {
          right: 2%;
          left: 2%;
        }

        p {
          font-size: 1.7em !important;
        }
      }
      div:nth-child(1) {
        width: 40vw;
        min-height: 450px;
        justify-content: space-evenly;
        img {
          max-height: 400px;
          max-width: 400px;
        }
      }
      div:nth-child(2) {
        width: 60vw;
        padding: {
          top: 3%;
          bottom: 3%;
        }
      }
    }
    #thirdContainer {
      & > div {
        .projects {
          margin: {
            right: 2%;
            bottom: 2%;
          }
          img {
            max-height: 150px;
          }
          .descriptionPart {
            h3 {
              font-size: large !important;
            } 
            p {
              min-height: 144px;
              padding: {
                right: 2%;
                left: 2%;
              }
            }
            .technologyTags {
              min-height: 60px;
            }
          }
        }
      }
    }
    /* Contenedor 5 */
    #fifthContainer {
      h2 {
        font-size: 2.2em !important;
      }
      #formBackground {
        width: 100%;
        & > p:nth-child(1) {
          color: $--color-cuaternario-main;
          padding: {
            left: 5%;
            right: 5%;
          }
          font-size: 1.8em !important;
        }
        & > p:nth-child(2) {
          color: $--color-terciario-main;
          margin: {
            bottom: 3%;
            top: 3%;
          }
          font-size: 2.2em !important;
        }
        form {
          width: 100%;
          max-width: 700px;
          button {
            padding: 5px;
            width: 90%;
            max-width: 300px;
            height: 60px;
            font-size: 1.9em !important;
          }
          #formText {
            justify-content: space-between;
            margin: {
              bottom: 0.3em;
            }
            width: 90%;
            & > div {
              width: 48%;
              margin: {
                bottom: 1em;
              }
              input,
              label {
                font-size: 1.5em !important;
              }
              label {
                margin: {
                  bottom: 0.3em;
                  top: 0.7em;
                }
              }
            }
          }
          textarea {
            width: 90%;
          }
        }
      }
    }
  }

  /* ESTILO */
  main {
    #secondContainer,
    #thirdContainer {
      & > h2 {
        font-size: 2.2em !important;
      }
    }
    #secondContainer {
      & > div {
        .knowledges {
          transition-duration: 0.5s;
          &:hover {
            transform: scale(1.4);
          }
        }
      }
    }
    #thirdContainer {
      & > h1 {
        font-size: 2.2em !important;
      }
    }
  }
}
