main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  article {
    display: flex;
    width: 100%;
    max-width: 1300px;
  }
  #firstContainer {
    div:nth-child(1), div:nth-child(2) {
      flex-flow: column nowrap;
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }
  #secondContainer{
    flex-flow: column nowrap;
    align-items: center;
    padding: {
      bottom: 3%; //Eliminar pronto al hacer la seccion de proyectos
    }
    & > div {
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
      max-width: 80%;
      .knowledges {
        display: flex;
        flex-flow: nowrap column;
        align-items: center;
        margin: 2%;
        width: 40%;
        max-width: 120px;
        max-height: 125px;
        border: 1px solid transparent;
        border-radius: 15px;
        justify-content: center;
        padding: {
          bottom: 20px;
        }
        h1{
          font-size: 1em;
          color: white;
          margin: {
            bottom: 3%;
          }
        }
        img{
          width: 50%;
        }
      } 
    }

  }
  #thirdContainer{
    flex-flow: column nowrap;
    align-items: center;
    & > div {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      .projects {
        display: flex;
        flex-flow: nowrap column;
        max-width: 300px;
        .descriptionPart{
          display: flex;
          flex-flow: nowrap column; 
          align-items: center;
          width: 100%;
          .technologyTags {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            align-items: center;
            padding: {
              left: .3em;
              right: .3em;
            }
            span {
              padding: {
                bottom: 0.1em;
                right: 0.5em;
                left: 0.5em;
              }
              margin: {
                right: 2%;
                bottom: .3em;
              }
            }
          }
          button{ 
            min-width: 80%;
            min-height: 50px;
            margin: {
              bottom: 2%;
              top: 2%;   
            }
          }       
        }

      }
    }
  }

}

main {
  #firstContainer {
    .colorAzul {
      background-color: #223593;
      color: white;
    }
    div:nth-child(1){
      h1{
        color: #223593;
      }
    }
  }
  #secondContainer{
    & > div {
      background-color: #223593;
      border-radius: 20px;
      .knowledges {
        box-shadow: 5px 5px 13px 5px rgb(144, 164, 174);
        background-color: black;
        color: white;
      } 
    }
  }
  #thirdContainer{
    & > div {
      .projects {
        overflow: hidden;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 5px solid black;
        background-color: #223593;
        img{
          object-fit: cover;
          border: {
            bottom: 5px solid black;
          }
        }
        .descriptionPart{
          .technologyTags{
            span{
              border-radius: 12px;
              text-align: center;
              max-height: 25px;
              background-color: black;
              color: white;
            }
          }
          button{
            color: white;
            background-color: yellow;
            text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
            1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
            font-family: "Kanit", sans-serif;
            border: 5px solid black; 
            border-radius: 25px;
          }
          h3, p{
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 206px) {
  main {
    article {
      h1 {
        font-size: 1em !important;
      }
      p {
        font-size: 0.7em !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    #firstContainer{
        img {
          max-height: 15%;
          max-width: 45%;
          object-fit: cover;
          margin: {
            bottom: 3vh;
          }
        }
    }
    #thirdContainer{
      align-items: center;
      & > div{
        width: 100%;
        .projects{
          width: 100%;
          height: 400px;
          margin: {
            bottom: 0.5em;
          }
          img{
            width:100%;
            max-height: 145px;
          }
          .descriptionPart{
            p{
              min-height: 95px;
            }
            .technologyTags{
              display: flex;
              flex-flow: wrap row;

              min-height: 58px;
              span{

              }
            }
            p {
              max-height: 95px;
            }
          }
        }
      }
    }

    article {
      flex-flow: column nowrap;
      &:nth-child(2){
        & > div{
          width: 90%;
          padding: {
            left: 2%;
            right: 2%; 
          }
        }
      }
      h1 {
        margin: {
          top: 5%;
          bottom: 3%;
        }
      }
      h1,p {
        padding: {
          left: 0.5em;
          right: 0.5em;
        }
      }
      div:nth-child(1) {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 
      }
      .contentOneText {
        flex-flow: column nowrap;
        align-items: center;
        padding: {
          bottom: 5vh;
        }
      }
    }
    #thirdContainer{
      & > div{
        .projects{
          h3{
            padding: {
              right: 0.4em;
              lefT: 0.4em;
            };
            margin: {
              bottom: 2%;
            }
            font-size: 1em;
          }
          p{
            font-size: .8em;
          }
          .descriptionPart{
            .technologyTags{
              span{
                background-color: black;
                font-size: .9em;
                color: white;
              }
            }
            button {
              font-weight: bold;
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }

  main {
    article {
      div:nth-child(1), div:nth-child(2) {
        p {
          font-size: 1.3em;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  main {
    #firstContainer {
      flex-flow: row nowrap;
    }
    #secondContainer, #thirdContainer{
      flex-flow: column nowrap;
    }
    #thirdContainer{
      align-items: center;
      div {
        .projects{
          margin: {
            right: 13px;
            bottom: 13px;
          }
          .descriptionPart{
            p {
              min-height: 144px;
              padding: {
                left: .3em;
                right: .3em;
              }
            }     
          }
        }
      }
    }
    article {
      &:nth-child(2){
        h1{ 
          margin: {
            top: 3%;
            bottom: 5%;
          }
        }
      }
      div:nth-child(1),
      div:nth-child(2) {
        flex-flow: column nowrap;
      }
    }
    #firstContainer{
      div:nth-child(1) {
        width: 40vw;
        max-height: 550px;
        h1 {
          font-size: 2.5em;
          padding: {
            left: 0.5vw;
            right: 0.5vw;
          }
          margin: {
            top: 10%;
            bottom: 10%;
          }
        }
        img {
          max-width: 75%;
          max-height: 50%;
          min-width: 250px;
          min-height: 300px;
          object-fit: cover;
        }
      }
      div:nth-child(2) {
        width: 59.8vw;
        align-items: center;
        padding: {
          right: 2vw;
          left: 2vw;
          top: 3vw;
          bottom: 3vw;
        }
        p {
          font-size: 1.3em;
        }
      }
    }

  }

  main {
    #thirdContainer{
      h1 {
        font-size: 2em;
        margin: {
          bottom: 1em;
        }
      }
      & > div{
        .projects{
          img{
            max-height: 150px;
          }
          .descriptionPart {
            .technologyTags {
              min-height: 48px;
              span {
                font-size: 0.8em;
              }
            }
          }
        }  
      }
    }
  }
}

@media screen and (min-width:992px){
  main{
    #firstContainer, #secondContainer{
      & > h1 {
        font-size: 2.2em;
        margin: {
          top: 3%;
          bottom: 3%;
        }
      }
    }
    #firstContainer{
      div:nth-child(1),div:nth-child(2){
        padding: {
          right: 2%;
          left: 2%;
        }
        h1 {
          font-size: 2.2em;
          margin: {
            top: 2%;
            bottom: 3%;
          }
        }
        p {
          font-size: 1.7em;
        }
      }
      div:nth-child(1){
        width: 40vw;
        min-height: 450px;
        justify-content: space-evenly;
        img {
          max-height: 500px;
          max-width: 250px;
        }
      }
      div:nth-child(2){
        width:60vw;
        padding: {
          top: 3%;
          bottom: 3%;
        }
      }
    }
    #thirdContainer{
      & > div {
        .projects{
          margin: {
            right: 2%;
            bottom: 2%;
          }
          img{
            max-height: 150px;
          }
          .descriptionPart{
            p{
              min-height: 144px;
              padding: {
                right: 2%;
                left: 2%;
              }
            }
            .technologyTags{
              min-height: 60px;
            }
          }
        }  
      }
    }
  }

  main {
    #secondContainer{
      & > div{
        .knowledges{
          img{
            filter: grayscale(100%);
            transition-duration: .5s;
          }
          &:hover{
            img{
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}
