<main>
    <article id="firstContainer">
        <div id="frontEndProfile">
            <h1>Programador Junior FrontEnd.</h1>
            <img src="assets/images/yoJose.png" alt="This is me">
        </div>
        <div class="contentOneText colorAzul">
            <h2>Sobre mí</h2>
            <p>
                ¡Hola!, soy José Manuel Correa Castro, y soy 
                un desarrollador FrontEnd con conocimiento de 
                varias tecnologias que pueden hacerme capaz de maquetar y 
                decorar páginas web en base a las necesidades del cliente.
            </p>
            <h2>Cualidades</h2>
            <p>
                Siempre dispuesto a trabajar en equipo, abierto a críticas con 
                el único propósito de mejorar mi manera de trabajar y cómo dar 
                soluciones a distintos problemas que se presenten durante el 
                desarrollo de algún proyecto dado.
            </p>
        </div> 
    </article>
    <article id="secondContainer">
        <h2>Tecnologías conocidas</h2>
        <div>
            <div class="knowledges" *ngFor="let knows of conocimientos; let i = index">
                <h2>{{knows.nombre}}</h2>
                <img [src]="knows.src" [alt]="knows.nombre">
            </div>
        </div>
    </article>
    <article id="thirdContainer">
        <h2 id="projectsIndex">Proyectos</h2>
        <div>
            <div class="projects" *ngFor="let project of projects;">
                <img [src]="project.src" [alt]="project.titulo">
                <div class="descriptionPart">
                    <h3>{{project.titulo}}</h3>
                    <p>{{project.description}}</p>
                    <div class="technologyTags">
                        <span *ngFor="let tech of project.technologies;">
                            {{tech}}
                        </span>
                    </div>
                    <button (click)="openModalProjects(project)">Vista previa</button>
                </div>
            </div>
        </div>
    </article>
    <article id="fourthContainer">
        <div>
            
        </div>
    </article>
    <article id="fifthContainer">
        <h2>Contacto</h2>
        <div id="formBackground">
            <p id="contactScroll">¿Tienes alguna propuesta, pregunta o sólo quieres opinar sobre mi portafolio?</p>
            <p>¡Adelante!</p>
            <form id="formPortfolio" action="https://formspree.io/f/xyyqaadd" method="POST">
                <div id="formText">
                    <div>
                        <label for="username">Nombre</label>
                        <input type="text" name="username" id="username" placeholder="Roy Hernandez" required>
                    </div>
                    <div>                
                        <label for="usermail">Correo</label>
                        <input type="email" name="usermail" id="usermail" placeholder="someoneelse@gmail.com" required>
                    </div>
                </div>
                <textarea name="message" minlength="70" required placeholder="Hola!, me gustaria trabajar contigo para un proyecto..."></textarea>
                <button type="submit">Enviar<ion-icon name="return-up-forward-outline"></ion-icon></button>
            </form>
        </div>
    </article>
</main>
