<main>
    <article id="firstContainer">
        <div id="frontEndProfile">
            <h1>Programador Junior FrontEnd.</h1>
            <img src="assets/images/whoIAm.jpg" alt="">
        </div>
        <div>
            <h1>Introducción</h1>
            <p>
                ¡Hola!, soy José Manuel Correa Castro, y soy 
                un desarrollador de paginas web con conocimiento de 
                varias tecnologias que pueden hacerme capaz de maquetar y 
                decorar páginas web en base a las necesidades del cliente.
            </p>
            <h1>Cualidades</h1>
            <p>
                Siempre dispuesto a trabajar en equipo, abierto a críticas con 
                el único propósito de mejorar mi manera de trabajar y cómo dar 
                soluciones a distintos problemas que se presenten durante el 
                desarrollo de algún proyecto dado.
            </p>
        </div> 
    </article>
    <article>
        <h1>Tecnologías conocidas</h1>
        <div>
            
        </div>
    </article>
</main>
