/* You can add global styles to this file, and also import other style files */
/* Para hacer calculos correctos al agregar bordes y demas en los html usamos el border-box */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    // scroll-snap-type: y mandatory; //Scroll automatico
}
html, body {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;

}
body {
    background: #0E0A19;
}

